
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  font-weight: 800;
  --color-purple: #351e29;
  --color-magenta: #a13d63;
  --color-blue: #488286;
  --color-text-light: #ffe4f3;
  --color-text-deep: #312e30;
  --color-gray: #595758;
}

* {
  box-sizing: border-box;
  color: var(--color-text-light);
}

.logo {
  aspect-ratio: 1;
  max-width: 50px;
}

.h1 {
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.h2 {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.h3 {
  font-size: 12px;
  color: white;
  font-weight: bold;
}
