/* Gestion des spécificités */

.main,.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main {
  height: 100vh;
  padding: 4rem 0;
  background-color: black;
}

.container {
  height: 30%;
  width: 30%;
}
.buttonSignUP{
  background-color: rgb(0, 208, 255);
  color: white;
}
.buttonSignIN{ 
  background-color: #030202; 
  color: rgb(30, 0, 255);
  border:2px;
  border-color: white;
} 
