.main,.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main {
  height: 100vh;
  padding: 4rem 0;
  background-color: #0070f3;
}

.container {
  height: 30%;
  width: 30%;
}

.btn {
  background-color: black;
  color: white;
}
