/* Gestion des spécificités */

.main,
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main {
  height: 100vh;
  padding: 4rem 0;
  background-color: var(--color-purple);
}

.container {
  height: 30%;
  width: 30%;
}
.buttonSignUP {
  background-color: var(--color-blue);
  color: var(--color-text-deep);
  
}
.buttonSignIN {
  background-color: var(--color-text-deep);
  color: var(--color-text-light);
}
