.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0px;
    background-color: blue;
    z-index: 20;
}

.container{
    align-self: flex-end;
}
.count{
    color: grey;
}
.textarea{
    width: 100%;
}